body {
  background: url(./images/gradbg.jpg) !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  
}

.ui.secondary.pointing.menu .item {
  margin-left: 3vw !important;
  margin-right: 1vw !important;
  padding: 2.5vh 2vw !important;
  font-size: 2vh;
  color: white !important;
}

.headshot{
  width: 25vw;
  border-radius: 50%;
  position: absolute;
  top: 17vh; 
  left: 40vw;
}

.home-page-container h2{
  color: white;
  position: absolute;
  left: 40vw;
  bottom: 17vh;
}


