/* 
font-family: 'Italiana', serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Scope One', serif; 
*/



body {
  background: url(./images/gemcornerbg2.png) no-repeat center fixed !important;
  background-size: cover !important;
}


hr{
  background-image: url(./images/bestgoldleaf.jpg);
  background-position: center center;
  height: 2px !important;
  border-style: hidden;
  width: 50vw;
  position: absolute;
  left: 25vw;
}

#bottom-rule{
  bottom: 7vh;
}

#top-rule{ 
  top: 8vh;
}

.ui.secondary.pointing.menu .item {
  margin-left: 3vw !important;
  margin-right: 1vw !important;
  padding: 2.5vh 2vw !important;
  font-size: 2vh;
  color: rgb(80, 79, 72);
  padding-bottom: 50px !important;
  text-shadow: 1px 1px white !important;
   font-size: 2.2vh !important;
   font-weight: bold;
}

.ui.secondary.pointing.menu {
  border-style: none !important;
  padding-bottom: 50px;
  
}

.ui.secondary.pointing.menu .item.active{
  color:rgb(218, 217, 216)!important;
  border-color: rgb(5, 5, 5) !important;
  background-image: url(./images/ariagem.png) !important;
  background-size: 6vw !important;
  background-repeat: no-repeat !important;
  background-position: top !important;
  border-style: none !important;
  padding-bottom: 50px !important;
  text-shadow: 0px 0px white !important;
  font-size: 2.2vh !important;
}



.headshot{
  height: 60vh;
  position: absolute;
  top: 12vh; 
  left: 37vw;
 
}


.home-page-container h2{
  color: rgb(22, 21, 22);
  position: absolute;
  left: 25vw;
  width: 50vw;
  bottom: 13vh;
  font-size: 4vh;
  font-family: 'Raleway Dots', cursive;
  text-align: center;

}

.contact-container{
  margin: 10vh 8vw;
}

#contact-page hr{
 left: -11vw;
 margin-top: -2vh;
}

.blog-feed-container{
  width: 70vw;
  margin: 20vh 15vw;
  background-color: rgba(255,255,255,0.2);
  padding: 10vh 10vw;
}


.skills-container{
  color: rgb(15, 15, 15);
  padding: 0vh 14.5vw;
  margin-bottom: 10vh;
  margin-top: 7vh;
  font-family: 'Italiana', serif;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: 7vw;
}

#skills-page h2{
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Raleway Dots', cursive;
  text-shadow: 1px 0px rgb(160, 159, 159);
  letter-spacing: 3px;
  padding-left: 3vw;
  margin-top: -5vh;
}

.skills-container h4{
  font-family: 'Raleway Dots', cursive;
  color: rgb(131, 126, 118);
  font-size: 1.2rem;
  
}

.skills-container h3{
font-family: 'Raleway Dots', cursive;
text-shadow: 1px 0px rgb(160, 159, 159);
 text-align:center;
 margin-left: -2vw;
}

.skills-container p {
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(53, 43, 1);
}


.grid-item{
  grid-row: 1;
  padding: 7% 11%;
  padding-right: 2vw;
  min-height: 60vh;
  border-radius: 5px;
  border: solid 2px;
  border-image: url(./images/bestgoldleaf.jpg) 4 4;
  font-family: 'Italiana', serif;
  font-family: 'Italiana', serif;
}


.about-container{
  width: 72vw;
  font-family: 'Raleway Dots', cursive;
  position: absolute;
  top: 17vh;
  left: 13vw;
  padding: 0 11vw;
  border: 2px solid black;
  border-image: url(./images/bestgoldleaf.jpg) 4 4;
  border-top-style: none;
  border-bottom-style: none;
}

.about-container h3{
  font-family: 'Raleway Dots', cursive;
  color: black;
  line-height: 1.7;
  text-align: center;
  font-size: 1.2rem;
}

.contact-container{
  position: absolute;
  padding: 3%;
  top: 0vh;
  left: 30vw;
}

.contact-container h3{
  font-family: 'Raleway Dots', cursive;
  line-height: .8;
}

.contact-container a{
  padding-left: 20px;
  color: rgb(146, 142, 134);
}

.contact-container a:hover{
  color: rgb(207, 170, 66);
  text-decoration: underline;
}

.contact-container input, textarea, button{
  margin-top: 5px;
  padding: 7px;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(78, 77, 77, 0.1);
}

.input-text{
  width: 80%;
}

.submit-button{
  padding: 7px;
  cursor: pointer;
}


.contact-icons{
  margin-right: 10px;
  height: 13px;
  margin-left: -2vw;
}

.side-tabs{
  width: 19vw;
  height: 100vh;
  position: fixed;
  margin-top: -7vh;
}

.side-tabs p{
  margin-top: -13px;
  font-style: italic;
  width: 80%;
}

.tab{
  margin: 6vh 0vw;
  padding: 2vh 3vw;
  padding-right: 1vw;
  cursor: pointer;
  opacity: .6;
  color: rgb(170, 169, 169);
  border-radius: 4px;
  background: url(./images/pointbanner1.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 85%;
}

.tab h3{
  font-family: 'Raleway Dots', cursive;
  text-shadow: .5px 0 rgb(77, 76, 76);

}

.tab:hover{
  opacity: .8;
  color: black;
  background: url(./images/sidetabgem3.png), url(./images/pointbanner1.png);
  background-size: 50%, 100% 90%;
  background-repeat:no-repeat;
  background-position: left, center left;
}

.selected-tab{
  background: url(./images/sidetabgem2.png), url(./images/pointbanner1.png);
  opacity: 1;
  background-size: 50%, 100% 90%;
  background-repeat:no-repeat;
  background-position: left, center left;
  border-right: hidden;
  color: rgb(43, 42, 42);
}

.selected-tab:hover{
    background: url(./images/sidetabgem2.png), url(./images/pointbanner1.png);
    opacity: 1;
    background-size: 50%, 100% 90%;
    background-repeat:no-repeat;
    background-position: left, center left;
    border-right: hidden;
    color: rgb(43, 42, 42);
}

.display-project-container{
  position: absolute;
  top: 17vh;
  left: 25vw;
  min-height: 70vh;
  width: 70vw;
  padding: 10px;
}

.brakebills-container{
  margin-bottom: 13vh;
}

.brakebills-container iframe{
  margin-bottom: 5vh;
  background-size: fill;
  
}


.brakebills-description{
  margin-top: 7vh;
  margin-bottom: 5vh;
  font-size: 1.2rem;
  width: 60vw;
  padding-left: 5vw;
  font-family: 'Raleway Dots', cursive;
  color: black;
  text-align: center;
}

.learn-tracker-container{
  margin-bottom: 13vh;
}

.learn-tracker-description{
  margin-top: 7vh;
  margin-bottom: 5vh;
  font-size: 1.2rem;
  width: 60vw;
  padding-left: 5vw;
  font-family: 'Raleway Dots', cursive;
  color: black;
  text-align: center;
}

.movie-match-gif{
  width: 65vw;
}

.movie-match-description{
  margin-top: 7vh;
  margin-bottom: 5vh;
  font-size: 1.2rem;
  width: 60vw;
  padding-left: 5vw;
  font-family: 'Raleway Dots', cursive;
  color: black;
  text-align: center;
}