/* 
font-family: 'Italiana', serif;
font-family: 'Raleway Dots', cursive;
font-family: 'Scope One', serif; 
*/

a.item{
  color: black;
}

body {
  background: url(./images/sciencebg1.jpg) !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.ui.secondary.pointing.menu .item {
  margin-left: 3vw !important;
  margin-right: 1vw !important;
  padding: 2.5vh 2vw !important;
  font-size: 2vh;
  color: rgb(5, 5, 5);
}

.ui.secondary.pointing.menu .item.active{
  color:rgb(5, 5, 5)!important;
  border-color: rgb(5, 5, 5) !important;
}


.headshot{
  height: 60vh;
  border-radius: 50%;
  position: absolute;
  top: 13vh; 
  margin-left: 35vw;
  margin-right: 35vw;
  padding: 5vh 5vw;
  filter: grayscale(.2)
}

.home-page-container h2{
  color: rgb(22, 21, 22);
  position: absolute;
  left: 27vw;
  width: 50vw;
  bottom: 15vh;
  font-size: 4vh;
  font-family: 'Raleway Dots', cursive;
  text-align: center;
}

.contact-container{
  margin: 10vh 10vw;
}


.blog-feed-container{
  width: 70vw;
  margin: 20vh 15vw;
  background-color: rgba(255,255,255,0.2);
  padding: 10vh 10vw;
}



a {
  text-decoration: none;
}



.BlogsContainer {
  padding-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.PostContainer {
  border: 3px solid black;
  width: 375px;
}

.Image {
  border-bottom: 2px solid black;
  width: 50vw;
 
  object-fit: cover;
  margin-bottom: 3%;
}

.TDContainer {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
}

.skills-container{
  color: rgb(15, 15, 15);
  padding: 7vh 13vw;
  margin-bottom: 10vh;
  font-family: 'Italiana', serif;
  
}

.skills-container h2{
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Raleway Dots', cursive;
}

.skills-container h4{
  font-family: 'Raleway Dots', cursive;
}

.skills-container h3{
  font-family: 'Raleway Dots', cursive;
}


.frontend-container{
  position: relative;
  float: left;
  padding: 3% 5%;
  /* background-color: rgba(92, 92, 94, 0.1); */
  min-height: 60vh;
  border-radius: 5px;
  margin: 3vh 3.5vw;
  border: solid 3px;
  border-color: rgb(172, 153, 99);
  font-family: 'Italiana', serif;
  
}

.backend-container{
  position: relative;
  float: left;
  /* top: 30vh; */
  padding: 3% 5%;
  /* background-color: rgba(92, 92, 94, 0.1); */
  min-height: 60vh;
  border-radius: 5px;
  margin: 3vh 3.5vw;
  border: solid 3px;
  border-color: rgb(172, 153, 99);
  font-family: 'Italiana', serif;
}

.testing-container{
  position: relative;
  float: left;
  padding: 3% 5%;
  /* background-color: rgba(92, 92, 94, 0.1); */
  min-height: 60vh;
  border-radius: 5px;
  margin-top: 3vh;
  margin-left: 3.2vw;
  border: solid 3px;
  border-color: rgb(172, 153, 99);
  font-family: 'Italiana', serif;
}

.about-container{
  width: 55vw;
  font-family: 'Raleway Dots', cursive;
  position: absolute;
  top: 20vh;
  left: 22vw;
}

.about-container h3{
  font-family: 'Raleway Dots', cursive;
  color: black;
  line-height: 1.7;
  text-align: center;
  font-size: 1.2rem;
}

.contact-container{
  position: absolute;
  top: 7vh;
  left: 30vw;
}

.contact-container h3{
  font-family: 'Raleway Dots', cursive;
}

.contact-container a{
  padding-left: 20px;
}

.contact-container input, textarea, button{
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(255,255,255,0.7);
}

.input-text{
  width: 80%;
}

.submit-button{
  padding: 7px;
  cursor: pointer;
}

